    <div class="login-dark">
        <form (submit) = "login()" [formGroup] = 'data' >
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <i class="icon ion-social-buffer"></i>
            </div>
            <div class="form-group">
                <input class="form-control" formControlName='email' type="email" name="email" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" formControlName='password' name="password" placeholder="Enter Password"  required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" >Log In</button>
            </div>
                <a class="forgot" href="#">Forgot your email or password?</a>
		    </form>
    </div>
