    <div class="login-dark">
        <form name="form" (submit) = "f.form.valid && login()" #f="ngForm" novalidate>
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <i class="icon ion-social-buffer"></i>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" 
                placeholder="Enter Email" [(ngModel)]="credentials.email" 
                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
         
            <div class="form-group">
                <input class="form-control" type="password" name="password" 
                placeholder="Enter Password" [(ngModel)]="credentials.password" 
                #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" 
                minlength="6" required>
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary btn-block" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Log In
                </button>
            </div>
                <a class="forgot" href="#">Forgot your email or password?</a>
            <div *ngIf="error"> <a class="text-danger text-center forgot"> Invalid email or password </a> </div>
            <div *ngIf="bad_request"> <a class="text-danger text-center forgot"> verifier votre connexion au serveur</a> </div>
        </form>
        
    </div>
