    .btn-circle.btn-sm { 
		width: 35px; 
        height: 35px; 
        padding: 0px 0px; 
        border-radius: 17px; 
        font-size: 8px; 
        text-align: center; 
    } 
    .btn-circle.btn-md { 
        width: 40px; 
        height: 40px; 
        padding: 0px 5px; 
        border-radius: 22px; 
        font-size: 10px; 
        text-align: center; 
		;
    } 
    .btn-circle.btn-xl { 
        width: 70px; 
        height: 70px; 
        padding: 10px 16px; 
        border-radius: 35px; 
        font-size: 12px; 
        text-align: center; 
		
    } 
	

	.btn.focus, .btn:focus, .btn:hover {
	  color: #ffffff;
	  background-color: #5A69C1;
	  opacity:0.5;
	}

	.couleur_fond {
	  background-color: #5A69C1;
	}

