<app-header></app-header>

<div class="container-fluid body-content">
    <div class="container texte" style="margin-top:30px">
        <span style="background:#5A69C1; cursor:pointer; margin-bottom: 30px;" (click)="logout()">
            Logout
        </span>
        <div class="cardrow">
             <div class="column">
                 <div class="card">
                     <i class="icon ion-ios-person-outline imenuSize"></i>
                     <a routerLink="/display_account" class="stretched-link"></a>
                     <h6>User Account</h6>
                 </div>
             </div>
             <div class="column">
                 <div class="card">
                     <i class="icon ion-ios-people-outline imenuSize"></i>
                     <a routerLink="/display_staff" class="stretched-link"></a>
                     <h6>Staff</h6>
                 </div>
             </div>
             <div class="column">
                 <div class="card">
                     <i class="icon ion-ios-filing-outline imenuSize"></i>
                     <a routerLink="/inventory" class="stretched-link"></a>
                     <h6>Inventory</h6>
                 </div>
             </div>
               
             <div class="column">
                 <div class="card">
                     <i class="icon ion-ios-shuffle imenuSize"></i>
                     <a routerLink="/display_transaction" class="stretched-link"></a>
                     <h6>In/Out</h6>
                 </div>
             </div>
               
             <div class="column">
                 <div class="card">
                     <i class="icon ion-ios-paper-outline imenuSize"></i>
                     <a routerLink="/report" class="stretched-link"></a>
                     <h6>Report</h6>
                 </div>
               </div>
        </div>
    </div>
    <app-button></app-button>
 </div>
<app-footer></app-footer>
 