<header class="headerer shadow-lg p-3 mb-2">
    <div class="row text-monospace text-nowrap">
     <div class="col-md-1 text-right text-sm-right text-md-right text-lg-right text-xl-right" style="margin-top:-40px">
         <img class="" src="../assets/img/logoIMS.png" width="100" height="100" alt="">
         <!-- <i class="icon ion-ios-contact-outline" width="30" height="30"></i>  -->
     </div>
     <div class="col-md-6 text-left text-sm-left text-md-left text-lg-left text-xl-left">
         <div class="float-left float-md-left float-sm-left float-lg-left mt-2 mt-md-0 search-area">
             <!-- <i class="fas fa-search float-left float-md-left search-icon"></i> -->
             <i class="icon ion-ios-search float-left float-md-left search-icon"style="font-size:25px"></i>
             <!-- <i class="icon ion-android-search float-left float-md-left search-icon"style="font-size:30px"></i> -->
             <input class="float-left float-sm-right float-md-right float-lg-right custom-search-input" type="search" placeholder="Search" />
         </div>
     </div>
     <div class="col text-right" style="margin-top: -10px;margin-right:22px">
         <!-- <i class="icon ion-ios-contact-outline _profile1"style="font-size:60px;color:white"></i>  -->
         <img class="_profile1" src="../assets/img/cind.png" alt="">
     </div>
 </div>
 
 </header>


<div class="container-fluid body-content">
     
     <div class="container texte" style="margin-top:30px">
         <div class="cardrow">
             <div class="column">
                 <div class="card">
                     <!-- <i class="fas fa-user-alt imenuSize"></i> -->
                     <i class="icon ion-ios-person-outline imenuSize"></i>
                     <!-- <i class="icon ion-ios-contact-outline imenuSize"></i> -->
                     <!-- <i class="icon ion-ios-person imenuSize"></i> -->
                     <a href="#" class="stretched-link"></a>
                     <h6>User Account</h6>
                 </div>
             </div>
     
             <div class="column">
                 <div class="card">
                     <!-- <i class="fas fa-users imenuSize"></i> -->
                     <i class="icon ion-ios-people-outline imenuSize"></i>
                     <!-- <i class="icon ion-ios-people imenuSize"></i> -->
                     <a href="#" class="stretched-link"></a>
                     <h6>Staff</h6>
                 </div>
             </div>
               
             <div class="column">
                 <div class="card">
                     <!-- <i class="fas fa-boxes imenuSize"></i> -->
                     <!-- <i class="icon ion-ios-filing imenuSize"></i> -->
                     <i class="icon ion-ios-filing-outline imenuSize"></i>
                     <a href="#" class="stretched-link"></a>
                     <h6>Inventory</h6>
                 </div>
             </div>
               
             <div class="column">
                 <div class="card">
                     <!-- <i class="fas fa-random imenuSize"></i> -->
                     <!-- <i class="icon ion-ios-shuffle-strong imenuSize"></i> -->
                     <i class="icon ion-ios-shuffle imenuSize"></i>
                     <!-- <i class="icon ion-arrow-swap imenuSize"></i> -->
                     <a href="#" class="stretched-link"></a>
                     <h6>In/Out</h6>
                 </div>
             </div>
               
             <div class="column">
                 <div class="card">
                     <!-- <i class="fas fa-file imenuSize"></i> -->
                     <i class="icon ion-ios-paper-outline imenuSize"></i>
                     <a href="#" class="stretched-link"></a>
                     <h6>Report</h6>
                 </div>
               </div>
             </div>
         </div>
     
 
     <div class="container">
           
             <!-- <i class="fal fa-sliders-h"></i> -->
             <button type="button" class="btn shadow-lg btn-circle btn-md fixedbutton2"><i class="icon ion-android-options" style="font-size:20px;"></i></button>
             <button type="button" class="btn shadow-lg couleur_fond btn-circle btn-md fixedbutton1"><i class="icon ion-android-add" style="color:white;font-size:20px;"></i></button>
     </div>
 </div>
 
 <footer class="shadow-lg">
     <div class="col" style="margin-top:8px;margin-left:8px">
         <a style="color:white;font: Nunito; font-size:13px"> Copyright &#9400; PetherIMS 2020. All right Reserved</a>
     </div>
 </footer>
 