<!-- header -->
<app-header></app-header>

<!-- start display Account -->
<div class="container-fluid body-content">
    <div class="container texte" style="margin-top:30px; margin-bottom: 30px">
                <button type="button" style="margin-bottom: 30px;" routerLink = "/home" class="btn btn-outline-primary mr-2" placement="right" ngbTooltip="Add an account">
                    <i class="icon ion-arrow-return-left" style="font-size:25px;"></i>  Back
                  </button>
                <div class="margin-bottom:35px">
                    <h5 style="color:gray">List of Staff</h5>
                    <hr/>
                </div>
                <div *ngIf="updateSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success</strong>     You have successfully update an existing staff.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="deletedSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success</strong>     You have successfully delete a staff.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="insertedSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success</strong>     You have successfully create a new staff.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div *ngIf="success_delete" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong>       You have missed creating a staff.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div id="data-grid-demo">
                        <dx-data-grid 
                            id="gridContainer"
                            [dataSource]="dataSource"
                            keyExpr="id"
                            [showBorders]="true"
                            [rowAlternationEnabled]="true"
                            (onRowInserted)="onRowInserted($event)"
                            (onRowUpdated)="onRowUpdated($event)"
                            (onRowRemoved)="onRowRemoved($event)">

                            <dxo-paging [enabled]="true" [pageSize]="15"></dxo-paging>
                            <dxo-export [enabled]="true" fileName="Staff" [allowExportSelectedData]="true"></dxo-export>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                            <dxo-editing mode="form" [allowUpdating]="true" [refreshMode]="refreshMode"
                            [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
                            
                            <dxi-column dataField="name" caption="Name">
                                <dxi-validation-rule type = "required" message = "Name is required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="first_name" caption="First Name"></dxi-column>
                            <dxi-column dataField="poste" caption="Poste"></dxi-column>
                            <dxi-column dataField="phone" caption="Phone Number"
                                [editorOptions]="{ 
                                    mask: '+(237) 000-00-00-00',
                                    maskRules: phoneRules,
                                    useMaskedValue: true,
                                    maskInvalidMessage: 'The phone must have a correct CMR phone format'
                                }">
                                <dxi-validation-rule 
                                    type="pattern"
                                    [pattern]="phonePattern"
                                    message="The phone must have a correct CMR phone format">
                                </dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="city" caption="City" ></dxi-column>
                            <dxi-column dataField="address" caption="Address"></dxi-column>
                            
                        </dx-data-grid>
            </div>
    </div>
    <app-button></app-button>
</div>
<!-- end display Account -->

<!-- footer -->
<app-footer></app-footer>
