._profile1 {
	height: 3em; /*height == width*/
	width: 3em;
	border-radius: 80%;
	overflow: hidden;
}
.custom-search-input {
	border: none;
	color:#E1DFDF;
	/* border-bottom: 2px solid #E1DFDF; */
	margin-top: 6px;
	background: transparent;
	outline: none;
	font: Nunito;
	/* min-width: 280px; */
	min-width: 353px;
	text-indent: 40px;
  }
  
  .search-area {
	display: inline-block;
	background-color: #7481CC;
	border-radius : 20px 20px 20px 20px;
	height:35px;
	float:left;
	/* margin-right: -30px; */
  }
  
  .search-icon {
	font-size: 18px;
	/* margin-left:10px; */
	color:#E1DFDF;
	margin-right: -25px;
	margin-left: 15px;
	margin-top: -1px;
  }