<header class="headerer shadow-lg p-3 mb-2">
    <div class="row text-monospace text-nowrap">
     <div class="col-md-1 text-right text-sm-right text-md-right text-lg-right text-xl-right">
         <img class="" routerLink="/home" src="" alt="logoIMS" style="cursor: pointer;">
     </div>
     <div class="col-md-6 text-left text-sm-left text-md-left text-lg-left text-xl-left">
         <div class="float-left float-md-left float-sm-left float-lg-left mt-2 mt-md-0 search-area">
             <i class="icon ion-ios-search float-left float-md-left search-icon"style="font-size:24px"></i>
             <input class="float-left float-sm-right float-md-right float-lg-right custom-search-input" type="search" placeholder="Search" />
         </div>
     </div>
     <div class="col text-right" style="margin-top: -10px;margin-right:22px">
         <img class="_profile1" src="../assets/img/cind.png" alt="">
     </div>
	</div>
</header>