<div class="container">
    <button type="button" routerLink="/settings" class="btn shadow-lg btn-circle btn-md fixedbutton2" ><i class="icon ion-android-options" style="font-size:20px;"></i></button>
    <div>
      <button type="button" id='bt1' class="btn shadow-lg couleur_fond btn-circle btn-md fixedbutton1" value='Show Layer' onclick="setVisibility('sub3','sub4');"><i class="icon ion-android-add" style="color:white;font-size:20px;"></i></button>
      <button type="button" routerLink="/liste_produits" id="sub3" class="btn shadow-lg couleur_fond btn-circle btn-md fixedbutton3" ><i class="icon ion-android-options" style="color:white;font-size:20px;"></i></button>
      <button type="button" routerLink="/settings" id="sub4"  class="btn shadow-lg couleur_fond btn-circle btn-md fixedbutton4" ><i class="icon ion-android-options" style="color:white;font-size:20px;"></i></button>
    </div>
</div>